@{
    ViewData["Title"] = "Sogeti application Todo";
}

<div class="text-center">
    <h1 class="display-4">
        <u><a class="nav-link text-dark" asp-area="" asp-controller="Todo" asp-action="List">Mes tâches</a></u>
    </h1>
</div>
