@model SogetiTodoApp.Models.VmList
@{
    ViewData["Title"] = "Mes Todos";
}

<div class="container">
    <div class="row">
        <h3>Liste de tâches <b>à faire</b></h3>
        <div class="col-md-6 mb-5">
            @foreach (var item in Model.TodoItemsNotDone)
            {
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>
                            <b><button onclick="checkTodo(@item.Id, true)">O</button></b>
                            @item.Title
                         </p>
                    </li>
                </ul>
            }
        </div>
    </div>
   
    <div class="row">
        <h3>Liste de tâches <b>faites</b></h3>
        <div class="col-md-6">
            @foreach (var item in Model.TodoItemsDone)
            {
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>
                            <b><button onclick="checkTodo(@item.Id, false)">X</button></b>
                            <strike>@item.Title</strike>
                        <p>
                    </li>
                </ul>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    // Send an XhrHttpRequest
    function checkTodo(itemId, isDone) {
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/Todo/UpdateTodo", true)

        //Send the proper header information along with the request
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

        xhr.onreadystatechange = () => { // Call a function when the state changes.
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                location.reload();
            }
        }
        xhr.send("itemId=" + itemId + "&isDone=" + isDone);
    }
</script>
